#pic1 {
    height: 100px;
    width: 200px;
    margin-left: 50px;
    float: left;
}

#righttoptext {
    float: right;
    margin-right: 50px;
    margin-top: 40px;
}

.righttext {
    margin-top: 5px;
}

.lefttext {
    width: 200px;
    margin-top: 5px;
}

#leftbottomtext {
    float: left;
    margin-left: 50px;
    margin-top: 5px;
}

#rightbottomtext {
    float: right;
    margin-right: 145px;
    margin-top: 5px;
}

.smalltitle {
    margin-left: 50px;
    width: 100%;
}

.warning-table {
    float: left;
}

.firsttd {
    text-align: right;
    padding-left: 50px;
    padding-right: 50px;
    width: 150px;
}

.secondtd {
    text-align: left;
    padding-left: 50px;
    padding-right: 50px;
    width: 150px;
}

.thirdtd {
    text-align: left;
    padding-left: 50px;
    padding-right: 5px;
    width: 150px;
}

#warning-table {
    width: 550px;
}

#keyword {
    float: left;
    margin-left: 100px;
}

.keywordtags {
    float: left;
    margin-left: 50px;
    color: white;
    border-bottom: thick;
    border-bottom-color: red;
    text-decoration: underline;
}

#process-table {
    margin-top: 20px;
    margin-left: 50px;
}

#firstchecktd {
    width: 120px;
    padding-top: 5px;
}

.process-table-td {
    text-align: left;
    padding-top: 5px;
    padding-left: 30px;
    padding-right: 5px;
    width: 120px;
}

.column_text {
    font-size: 8px;
}

.segmentedbuttons {
    float: left;
    display: block;
    text-align: center;
}

.segbtn {
    float: left;
    width: 30px;
    height: 22px;
    font-size: 12px;
    /*text-align: center;*/
    box-sizing: border-box;
    border: 1px solid rgb(46, 65, 85);
    cursor: pointer;
}

.diagram_title {
    float: left;
    margin-left: 50%;
    transform: translateX(-50%);
}