.ct-firstbox {
    height: 180px;
}

.ct-secondbox {
    height: 200px;
}

.ct-thirdbox {
    height: 300px;
}

.smalltitle {
    float: left;
    font-size: 12px;
    margin-left: 40px;
}

.region-combobox {
    height: 60px;
}

.combobox {
    float: left;
    width: 200px;
    margin-top: 20px;
}

.combox-left {
    float: left;
    width: 80px;
    /*padding-left: 20px;*/
}

.combox-right {
    float: left;
    width: 100px;
    /*padding-left: 20px;*/
}

.combox-down {
    box-sizing: content-box;
    line-height: 24px;
    text-align: center;
    position: relative;
    border: 1px solid #35485d;
    width: 100%;
}

.combox-down-word {
    text-align: center;
    border: 1px solid #35485d;
    width: 100%;
}

.conbox-down-sling {
    border: 6px solid transparent;
    border-top: 6px solid #fff;
    -webkit-transform: rotate(-45deg);
    position: absolute;
    right: -4px;
    bottom: -4px;
}

.conbox-down-remaining {
    box-sizing: content-box;
    display: none;
}

.combox-down-col {
    cursor: pointer;
}

.searchbox {
    width: 600px;
    height: 60px;
    margin: 0 auto;
}

#serachinput {
    float: left;
    margin-left: 30px;
    background-color: rgb(19, 30, 44);
    border-bottom-left-radius: 15px;
    border-top-left-radius: 15px;
    width: 400px;
    /*border-bottom-left-radius: 5 px;*/
}

#searchright {
    box-sizing: content-box;
    float: left;
    width: 60px;
    height: 22px;
    text-align: center;
    border-right: 2px solid;
    border-top: 2px solid;
    border-bottom: 2px solid;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    background-color: rgb(41, 55, 74);
    /*background-color: red;*/
}

#keyword {
    float: left;
    font-size: 12px;
    margin-left: 40px;
}

.keywordtags {
    float: left;
    font-size: 12px;
    margin-left: 40px;
    margin-left: 50px;
    color: white;
    border-bottom: thick;
    border-bottom-color: red;
    text-decoration: underline;
}